* {
        margin: 0;
        padding: 0;
      }

      body {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        /*background-image: url("https://img.artpal.com/350391/3-20-10-31-3-9-32m.jpg  " ); */
        background-image: url("https://www.shutterstock.com/image-photo/defocused-abstract-blur-image-empty-260nw-2593629479.jpg");
        background-repeat: no-repeat;
        background-size: cover;
       background-position: center; /* center me dikhayegi */
        position: relative; 
                       
    
       }
      #main {
        border: 3px solid rgba(34, 70, 136, 0.541);
        height: 450px;
        width: 400px;
        margin: 10px;
        margin-top: 30px;
        border-radius: 10px;
        background-color: transparent;
      }
      .inp {
        border: 2px solid black;
        width: 380px;
        height: 150px;
        display: flex;
        justify-content: center;
        margin: 10px;
        border-radius: 10px;
        font-size: 35px;
        font-weight: bold;
        font-family: Georgia, 'Times New Roman', Times, serif;
      }
      .gbtn {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 10px;
      }
      .num.ope {
        width: auto;
        height: auto;
        display: block;
        justify-content: center;
        margin: 10px;
      }
      .op,
      .op1 {
        margin: 10px;
        height: 40px;
        width: 50px;
      }
      #light{
        background-color: gray;
        height: 40px;
        width: 100px;
        border-radius: 40%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -10px;
      }